<ion-header [translucent]="true" class="search-header">
  <ion-toolbar>
    <ion-title>Search Spotify</ion-title>
    <ion-searchbar
      class="custom-searchbar"
      [(ngModel)]="query"
      (ionInput)="onSearch()"
      placeholder="Type to search…"
      show-clear-button="focus">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="search-content">
  <div class="results-container" *ngIf="tracks?.length; else noResults">
    <ion-list>
      <ion-item
        class="track-item"
        *ngFor="let t of tracks"
        (click)="playTrack(t)"
        lines="full">
        <ion-thumbnail slot="start">
          <img [src]="t.album.images[0]?.url || 'assets/placeholder.png'" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ t.name }}</h2>
          <p>{{ t.artists[0]?.name }}</p>
        </ion-label>
        <ion-button fill="clear" slot="end" (click)="playTrack(t); $event.stopPropagation()">
          <ion-icon name="play"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </div>

  <ng-template #noResults>
    <p class="empty-state">No tracks found.</p>
  </ng-template>
</ion-content>
