<ion-router-outlet></ion-router-outlet>
<app-mini-player></app-mini-player> <!-- always visible -->
<ion-tabs class="custom-tabs">
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="search" href="/tabs/search">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="library" href="/tabs/library">
      <ion-icon name="library-music"></ion-icon>
      <ion-label>Library</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
