<ion-footer class="mini-player" *ngIf="track$ | async as t">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="playback.toggle()">
        <ion-icon [name]="(playing$ | async) ? 'pause' : 'play'"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <div class="track-info">
        <img *ngIf="t.thumbnail" [src]="t.thumbnail" class="thumb" />
        <div>
          <div>{{ t.name }}</div>
          <small>{{ t.artists?.join(', ') }}</small>
        </div>
      </div>
    </ion-title>

    <ion-buttons slot="end">
      <ion-range
        [min]="0"
        [max]="(duration$ | async) || 0"
        [value]="(position$ | async) || 0"
        step="0.1"
        (ionInput)="onSeek($event)">
        <ion-label slot="start">{{ formatTime((position$ | async) || 0) }}</ion-label>
        <ion-label slot="end">{{ formatTime((duration$ | async) || 0) }}</ion-label>
      </ion-range>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
