<ion-header [translucent]="true" class="folders-header">
  …
</ion-header>

<ion-content class="folders-content">
  <div *ngIf="folders.length; else emptyState">
    <ion-list>
      <ion-item
        *ngFor="let f of folders"
        (click)="openFolder(f)"
        lines="full">
        <ion-icon name="folder" slot="start"></ion-icon>
        <ion-label><h2>{{ f.name }}</h2></ion-label>
        <ion-buttons slot="end">
          <!-- rename/delete buttons -->
        </ion-buttons>
      </ion-item>
    </ion-list>
  </div>
  <ng-template #emptyState> … </ng-template>
</ion-content>
