<ion-content class="welcome-page">
  <div class="welcome-container">

    <div class="logo-section">
      <div class="logo-container">
        <img src="assets/paulo.png" alt="Welcome Image" class="logo-image" />
      </div>
      
  
      <div class="welcome-text">
        <h1 class="welcome-title">Welcome to Paulo Music Player</h1>
        <p class="welcome-subtitle">SPELEC 2B 9:30  -  10:30</p>
      </div>
    </div>

  
    <div class="action-section">
      <ion-button 
        expand="full" 
        class="start-btn"
        (click)="login()">
        <ion-icon name="play-circle" slot="start"></ion-icon>
        Login
      </ion-button>
      
      <ion-button 
        expand="full" 
        fill="outline"
        class="reset-btn"
        (click)="reset()">
        <ion-icon name="refresh-circle" slot="start"></ion-icon>
        Reset Login State
      </ion-button>
    </div>
    
  
    <div class="welcome-footer">
      <p>Powered by Spotify API</p>
    </div>
  </div>
</ion-content>